<!DOCTYPE html>
<html>

<head>
    <title>B</title>
    <script type="module" src="../auth.js"></script>
</head>

<body>
    <div id="not-logged-in">
        <h2>Welcome, please log in</h2>
        <button id="btnLogin" type="button">Log in</button>
    </div>
    <div id="logged-in">
        <span id="whoami"></span>
        <span id="firebase-id"></span>
        <button id="btnLogout" type="button">Log out</button>
        <div id="load">
            <h1>B</h1>
            <p><a href="/">HOME</a></p>
            <p><a href="/a/">A</a></p>
            <p><a href="/c/">C</a></p>
            <p><a href="/d/">D</a></p>
            <p><a href="/e/">E</a></p>
            <p><a href="/f/">F</a></p>
        </div>
    </div>
</body>

</html>