<!DOCTYPE html>
<html>

<head>
    <title>D</title>
    <script type="module" src="../F-fbauth-element.bundled.js"></script>
</head>
<body>
    <fbauth-element>
        <h1>D</h1>
        <p><a href="/">HOME</a></p>
        <p><a href="/a/">A</a></p>
        <p><a href="/b/">B</a></p>
        <p><a href="/c/">C</a></p>
        <p><a href="/d/">D</a></p>
        <p><a href="/e/">E</a></p>
        <p><a href="/f/">F</a></p>
        2c4d2f3c262a49ef684a0f9f808dcebf9299dc88 issue15
    </fbauth-element>
</body>

</html>